force-app/main/default/flows/Materialize_Action_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Materializer</name>
        <label>Run materializer</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>ActionPlanMaterializer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visitCaptureId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ActionPlanMaterializer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <description>Screen flow invoqué depuis la Quick Action &quot;Créer le plan d&apos;action&quot; sur Visit_Capture__c. Appelle ActionPlanMaterializer Apex qui convertit le JSON en Tasks et Events réels.</description>
    <environments>Default</environments>
    <interviewLabel>Materialize Action Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Materialize Action Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Show_Summary</name>
        <label>Plan d&apos;action matérialisé</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SummaryMessage</name>
            <fieldText>&lt;p&gt;Le plan d&apos;action a été transformé en Tasks et Events Salesforce liés à la visite.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Materializer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
