force-app/main/default/flows/VC_Grounding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Transcript</name>
        <label>Assign Transcript</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VC_Trasncript</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_VC_TRANSCRIPT.TranscriptContent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VC_Grounded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VC_Grounded</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>VC_Grounded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Voici la transcription, si elle est disponible : 
La transcription a été effectuée avec un LLM non connecté à la valeur métier. La transcription va potentiellement contenir des approximation de traduction sur les noms de personnes, d&apos;entreprise, de produits... Ton rôle et bien de redresser ces information.
{!VC_Trasncript}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>VC_Grounded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_VC_TRANSCRIPT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Transcript</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>VC_Grounding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VC_Grounding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>GET_VC_TRANSCRIPT</name>
        <label>GET_VC_TRANSCRIPT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VideoCallId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VC_Input.VideoCall__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VideoCallTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_VC_TRANSCRIPT</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VC_Input</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_Capture__c</objectType>
    </variables>
    <variables>
        <name>VC_Trasncript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
